
/* Import website font */
@import url('https://stockfont.org/?409a66594ebe9eb733db299caff7f5ce29d95aa80eecd21bf18b88bbf221f890');

*
{
    margin: 0;
    padding: 0;
}

nav ul ul
{
    position: absolute;

    display: block;
    overflow: hidden;

    width: 200px;
    max-height: 0;
    margin-left: 20px;

    -webkit-transition: max-height .5s;
            transition: max-height 1s;

    background-color: #333;
}

nav li:hover ul
{
    max-height: 500px;
}
nav ul ul li
{
    float: none;

    width: auto;
}

html
{
    font-family: 'Oxygen-Regular', times, verdana, sans-serif;
}

body
{
    background-color: #fff;
}
header
{
    height: 200px;

    color: white;
    background-color: #778baf;
}

nav
{
    overflow: auto;

    width: 100%;

    background-color: #66e0ff;
}
nav ul
{
    display: block;

    width: 1000px;
    margin: auto;

    list-style-type: none;
}
nav ul li
{
    float: left;
    overflow: auto;

    width: 25%;

    text-align: center;
}
nav a
{
    display: block;

    padding-top: 10px;

    text-decoration: none;

    color: white;
}

header section
{
    display: block;
}

header h1
{
    font-weight: bold;
    font-style: italic;
}

h1
{
    font-size: 4em;

    padding-top: 20px;

    text-align: center;

    color: white;
    text-shadow: 2px 2px 2px #000;
}

main
{
    display: table;

    width: 70vw;
    min-height: 50vh;
    margin: auto;

    color: #444;
    background-color: #ddd;
    box-shadow: 0 0 10px #888;
}

main h2
{
    font-size: 2em;
}
.home
{
    width: 60vw;
    padding: 5vw;
}

p,
li,
h2
{
    margin-bottom: 1em;
}
ol
{
    margin-left: 30px;
}

pre
{
    margin-top: 20px;
}
code
{
    background-color: #ccc;
}
pre code
{
    display: block;
}

footer
{
    padding: 10px;

    background-color: #ccc;
}

form
{
    margin-top: 2em;
    padding-top: 2em;

    border-top: 1px solid #888;
}
form select,
form label,
form input,
form textarea
{
    width: 200px;
    margin-top: 20px;
    padding: 10px;
}
form label
{
    clear: left;
}
textarea
{
    height: 100px;
}
form input[type='text'],
form input[type='password'],
textarea
{
    font-family: verdana, sans-serif;

    color: #999;;
}
input[type='submit']
{
    clear: both;

    width: 220px;
}

section a
{
    color: #444;
}

form select
{
    width: 220px;
}
table
{
    width: 100%;
    margin-top: 20px;
}
td
{
    padding: 5px;

    border-bottom: 1px solid #333;
}

.jobs
{
    list-style-type: none;
}
.jobs strong
{
    float: left;
    clear: left;

    width: 150px;
}
.jobs p
{
    float: left;

    width: 500px;
}

.jobs li
{
    overflow: auto;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 2px solid #aaa;;
}
.jobs a
{
    float: right;
    clear: both;
}

img.shop
{
    width: 800px;
}

.stock,
.admin
{
    display: table;
}
.stock > ul,
.admin .left
{
    display: table-cell;

    width: 10vw;
    margin: 0;
    padding: 10px;

    list-style-type: none;

    background-color: #555;
}

.stock .products,
.admin .right
{
    display: table-cell;

    padding: 20px;
}

.stock > ul a,
.admin .left a
{
    text-decoration: none;

    color: white;
}

table td
{
    width: auto;
    margin: 0;
    padding: auto;
}

ul
{
    margin-left: 2em;
}

body > img
{
    display: block;

    width: 100%;
}


main > article
{
    display: block;

    padding: 2em;
}
main > nav
{
    display: table-cell;

    width: 20%;
    padding: 2em;

    color: #008fb3;
}
main > nav li
{
    float: none;

    width: auto;

    text-align: left;
}
main > nav ul
{
    width: auto;
}
ul
{
    list-style-type: none;
}
ul a
{
    text-decoration: none;

    color: black;
}
menu
{
    position: relative;

    display: block;

    width: 100%;
}
menu ul
{
    display: flex;
    flex-direction: row;

    list-style-type: none;

    background: lightblue;

    justify-content: space-around;
}
menu li
{
    padding: 1%;

    text-decoration: none;
}
menu li a
{
    text-align: center;
    text-decoration: none;

    color: black;
}

h3
{
    text-align: center;
}
/*article{

display: flex;
flex-direction: column;

}*/
/*main.register form,main.edit form,main.del form,main.part form{
    text-align: center;
    display: flex;
    flex-direction: column;
}*/
